body,
table,
a {
  font-size: 13px;
}

body {
  background: none;
  margin: 0;
  padding: 0;
}

@page {
  size: auto;
  margin: 1.5em;
}

main {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.experience a {
  color: #000;
}

header {
  margin-bottom: 0.5em;
}

.category.professional a::after {
  content: " – " attr(href) "";
}

#personal {
  margin-bottom: 1.5em;
}
.contact ul {
  margin-bottom: 0.5em;
}
.category {
  margin-bottom: 1.6em;
}

.fluo {
  text-decoration: none;
}

/* Hide some stuff */
.show-on-print {
  display: block;
}
.hide-on-print {
  display: none;
}
