body {
    background: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

#wrapper {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#header {
    margin-bottom: 0.5em;
}

#personal {
    margin-bottom: 1.5em;
}
.contact ul {
    margin-bottom: 0.5em;
}
.section {
    margin-bottom: 1.6em;
}

.fluo {
    text-decoration: none;
}

/* Hide some stuff */
.show-on-print {
    display: block;
}
.hide-on-print {
    display: none;
}
