body {
    background-image: url('../img/bg.gif');
    color: #333;
    font-size: 11.0pt;
    margin: 0;
    font-family: Georgia, Serif;
}
body, table, a {
	color: #000000;
	font-family: Georgia, serif;
	font-size: 10.5pt;
	text-decoration: none;
}
a {
    color: #2a4fa2;
}
a:hover {
    color: #203476;
    text-decoration: underline;
    cursor: pointer;
}
span {
    color: #666;
}
small {
    font-size: 9.0pt;
}
h1, h2, h3 {
	font-family: "Book Antiqua", Georgia;
}
h1 {
	color: #2a4fa2;
	font-size: 32px;
	margin: 0px;
	margin-bottom: 15px;
}
h3 > small {
    font-size: 13.0pt;
    font-variant: normal;
    font-weight: normal;
}
h2 {
	border-bottom: 1px solid #accbfb;
	color: #2a4fa2;
	font-size: 21px;
	font-weight: bold;
	padding: 20px 0px 4px 10px;
	margin: 0px 0px 5px 0px;
    width: 98%;
}
h3 {
    font-size: 24px;
    color: #333;
    padding: 4px;
}
li {
    margin: 2px 0;
}
span.amp {
   font-family: Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
   font-size: 110%;
   font-style: italic;
}


.clear {
    float: none !important;
    clear: both;
}
.section {
    margin-left: 20px;
}
.separator {
    margin: 0 5px;
}
.extend {
    cursor: pointer;
}

#slider {
    margin: 10px 0;
    width: 880px;
}

#title {
    cursor: help;
}
#extendable:hover {
    cursor: help;
}
.extendable, .extend:hover {
    background-color: #dce6f8;
    border-radius: 3px;
}
.experience, li.skill, #personal li {
    padding: 2px;
}
.extend:hover {
    padding-left: 4px;
}
.hidden {
    display: inline;
    font-style: normal;
    font-color: #666;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 11px;
}
.fluo {
    text-decoration: underline;
}
.value li:before {
    content: '- ';
}

/* Experience */
.experience {
    margin-bottom: 6px;
    overflow: hidden;
}
.experience .bar {
}
.experience div {
    float: left;
    margin-bottom: 2px;
}
.experience .value {
    float: left;
    text-align: justify;
}


/* Skill */
li.skill div {
    float: left;
}

/* Custom */
.education .date {
    width: 80px;
}
.education .value {
    margin-left: 115px;
}
    
.professional .date {
    width: 150px;
}
.professional .value {
    margin-left: 185px;
}

.computer .title {
    width: 180px;
}
.language .title {
    width: 80px;
}
.interest .title {
    width: 80px;
}

#personal {
    float: left;
    width: 270px;
    margin-right: 10px;
}
#title {
    font-variant: small-caps;
    width: 55%;
    margin-top: 60px;
    text-align: center;
    float: left;
}

/* Layout */
#wrapper {
    width: 820px;
    background-color: #fff;
    padding: 20px;
	-webkit-box-shadow: 2px 2px 15px #555;
	-moz-box-shadow: 2px 2px 15px #555;
	box-shadow: 2px 2px 15px #555;
    float: left;
    margin: 0 10px;
    margin-bottom: 20px;
}
#slider {
    position: absolute;
    clip: rect(0 880px 10000px -880px);
}
#footer {
    text-align:center;
    margin: 30px 0;
    color: #666;
}

/* Standard */
#more, #more a {
    font-size: 15px;
    text-align: justify;
    line-height: 1.5em;
}
#more {
    min-width: 500px;
    margin: 10px;
    position: fixed;
}
h4 {
    font-size: 29px;
    margin: 10px 0 25px 0;
}
#content p {
    text-indent: 2em;
}
#content ul {
    margin-left: 25px;
}
