body {
    background: #EBEBEB;
    color: #333;
    margin: 0;
    font-family: Georgia, Serif;
}
body, table, a {
	color: #000000;
	font-family: Georgia, serif;
    font-size: 14px;
    line-height: 1.2em;
	text-decoration: none;
}
a {
    color: #2a4fa2;
}
a:hover {
    color: #203476;
    text-decoration: underline;
    cursor: pointer;
}
span {
    color: #666;
}
small {
    font-size: 0.8em;
}
h1, h2, h3 {
	font-family: "Book Antiqua", Georgia;
}
h1 {
	color: #2a4fa2;
	font-size: 32px;
	margin: 0px;
	margin-bottom: 15px;
}
h3 > small {
    font-size: 13.0pt;
    font-variant: normal;
    font-weight: normal;
}
h2 {
	border-bottom: 1px solid #accbfb;
	color: #2a4fa2;
	font-size: 21px;
	font-weight: bold;
	padding: 20px 0px 6px 0px;
	margin: 0px 0px 0px 0px;
}
h3 {
    font-size: 24px;
    color: #333;
    padding: 4px;
}
span.amp {
   font-family: Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
   font-size: 110%;
   font-style: italic;
}


.clear {
    float: none !important;
    clear: both;
}
.separator {
    margin: 0 5px;
}

#title {
    cursor: help;
}
.section {
    margin: 0.5em 20px 0 20px;
}

.hidden {
    display: inline;
    font-style: normal;
    font-color: #666;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 11px;
}
.fluo {
    text-decoration: underline;
}


.name {
    float: left;
}
.social {
    margin-left: 40px;
    float: left;
    line-height: 45px;
}

.icon {
    padding-left: 5px;
    margin-right: 10px;
    font-size: 20px;
}
.icon:hover {
    text-decoration: none;
}


/* Experience */
.experience {
    overflow: hidden;
}
.experience .header {
    overflow: hidden;
    margin-bottom: 0.6em;
}
.experience .title {
    float: left;
}
.experience .date {
    float: right;
    text-align: right;
}
.experience .description,
.experience .value {
    text-align: justify;
}
.experience .description {
    margin-bottom: 0.5em;
}
.experience .value {
    list-style: disc;
    margin-bottom: 1.3em;
}
ul.value li {
    margin-left: 2em;
    margin-bottom: 5px;
}


/* Skill */
li.skill {
    margin-bottom: 0.4em;
}
li.skill div {
    float: left;
}

/* Custom */
.education .date {
    width: 80px;
}


.computer .title {
    width: 180px;
}
.language .title {
    width: 80px;
}
.interest .title {
    width: 80px;
}

#title {
    font-variant: small-caps;
    margin-top: 10px;
    text-align: center;
}

/* Layout */
#wrapper {
    width: 820px;
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
}
