body {
  background: #ebebeb;
  color: #333;
  margin: 0;
  font-family: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
}
body,
table,
a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}
p,
li {
  line-height: 1.2em;
}
a {
  color: #2a4fa2;
}
a:hover {
  color: #203476;
  text-decoration: underline;
  cursor: pointer;
}
span {
  color: #666;
}
small {
  font-size: 0.8em;
}
h1,
h2,
h3 {
  font-weight: 700;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
h1 {
  color: #2a4fa2;
  font-size: 32px;
  margin: 0px;
  letter-spacing: -0.02em;
}
h2 {
  font-size: 24px;
  color: #333;
  padding: 4px;
}

h2 > small {
  font-size: 13px;
  font-variant: normal;
  font-weight: normal;
}

h3 {
  border-bottom: 1px solid #accbfb;
  color: #2a4fa2;
  font-size: 21px;
  padding-bottom: 4px;
  margin-bottom: 0.5em;
}
article {
  page-break-inside: avoid;
}

span.amp {
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-size: 110%;
  font-style: italic;
}

.separator {
  margin: 0 5px;
}
.hidden,
.hidden a {
  display: inline;
  font-style: normal;
  font-family: "Lucida Grande", sans-serif;
  font-size: 11px;
}
.show-on-print {
  display: none;
}

.print-line {
  position: absolute;
  top: 1280px;
  width: 100%;
  height: 1px;
  background-color: red;
  display: none;
}

/* LAYOUT */
main,
.credits {
  max-width: 860px;
  width: 100%;
  padding: clamp(0.8rem, 0.6592rem + 0.6009vw, 1.2rem);
  margin: 20px auto;
}
main {
  background-color: #fff;
}
article {
  margin-bottom: 2em;
}
article:last-child {
  margin-bottom: 0;
}

.fluo {
  text-decoration: underline;
}
.language .title:hover {
  cursor: pointer;
}

.credits {
  padding: 0;
  color: #616161;
  text-align: center;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.8em;
}
.job {
  cursor: help;
  font-variant: small-caps;
  line-height: 32px;
}
.name {
  flex-wrap: wrap;
}

/* CONTACT */
#personal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.6em;
}
.contact ul {
  margin-bottom: 1em;
}
.contact li {
  margin-bottom: 0.3em;
  line-height: 1.3em;
}
.social {
  text-align: right;
}
.social > div {
  margin-bottom: 6px;
}

.icon:hover {
  text-decoration: none;
}

/* EXPERIENCE */
li.experience {
  margin-bottom: 1em;
}
li.experience.small {
  margin-bottom: 0.5em;
}

.experience .date {
  color: #666;
}
li.experience .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2em;
  row-gap: 0.2em;
}
li.experience .title {
  display: flex;
  justify-content: space-between;
  column-gap: 0.3ch;
}

li.experience ul.value {
  list-style: disc;
  margin-left: 1em;
  margin-top: 1em;
  padding-bottom: 1em;
}

li.experience ul.value li {
  margin-bottom: 0.5em;
}

li.experience ul.value li:last-child {
  margin-bottom: 0em;
}

@media (max-width: 700px) {
  li.experience .header .title {
    flex-direction: column;
    justify-content: flex-start;
  }
  li.experience .header {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0.4em;
  }
}

/* SKILL */
li.skill {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 0.3ch;
  margin-bottom: 0.3em;
}

li.skill .title {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

@media (max-width: 700px) {
  li.skill {
    flex-direction: column;
    margin-bottom: 0.6em;
  }
  li.skill .title {
    justify-content: flex-start;
  }
}

/* CUSTOM */
.computer .title {
  width: 180px;
}
.language .title {
  width: 80px;
}
.interest .title {
  width: 80px;
}
