@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?hd4bzn');
	src:url('../fonts/icomoon.eot?#iefixhd4bzn') format('embedded-opentype'),
		url('../fonts/icomoon.woff?hd4bzn') format('woff'),
		url('../fonts/icomoon.ttf?hd4bzn') format('truetype'),
		url('../fonts/icomoon.svg?hd4bzn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}

.icon-github:before {
	content: "\e601";
}

.icon-soundcloud:before {
	content: "\e602";
}

.icon-linkedin:before {
	content: "\e603";
}
